name: CI/CD

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: docker run --env GITHUB_TOKEN=${GITHUB_TOKEN} saethlin/forge:latest sh -c "$(cat release.sh)"
